section{
    background-size: cover;
    width: 100vw;
    height: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



#or-selector {
display: flex;
align-items: center;
text-align: center;
color: #666;
font-weight: bold;
margin: 20px;
}

#or-selector::before,
#or-selector::after{
    flex: 1;
    border-bottom: 1px solid #ccc;
}